@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #d4af37;
  --bg-color: #f8fafc;
  --text-color: #1e293b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}
